* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

.header {

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.header h1 {

    color: gray;

}

hr {

    height: 5px;
    background-color: gray;
    border: none;
    margin: 20px 0;
}